.main-pokemon {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        width: 100%;
        align-items: center !important;
        flex-direction: row-reverse;
        justify-content: space-around;
        flex-direction: flex-end;
        margin: 9px -13px;
    }
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1500px) {

}