.main-pokemon {
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
    width: 100%;
   
    justify-content: flex-end;
    flex-direction: flex-end;
    margin: 15px -13px;
    }
}

@media screen and (min-width: 800px) {

}

@media screen and (min-width: 1500px) {

}